jpsi_ccbar_3FS_4FS/condor_jobs/job*
*.lhe
*.ho
*.pyc
*.root
*.xml
*.__afs
CMSSW_9_4_14_UL_patch1/config/*
CMSSW_10_6_20_patch1/tmp/*
CMSSW_10_6_20_patch1/src/.__afs*
*_cfg.py
CMSSW_10_6_20_patch1/.SCRAM/*
CMSSW_10_6_20_patch1/config/*
CMSSW_10_6_20_patch1/external/*
CMSSW_10_6_20_patch1/lib/*
CMSSW_10_6_20_patch1/python/*
condor_sps/.bash_history
condor_sps/HELAC-Onia-2.5.3-VFNS/
condor_sps/HELAC-Onia-2.7.1/
condor_sps/aux/
condor_sps/debug
condor_sps/jpsi_bbbar_3fs_pt15_rest_config/
condor_sps/jpsi_bbbar_3fs_pt15_rest_jobs/
condor_sps/jpsi_bbbar_3fs_pt15_rest_logs/
condor_sps/jpsi_bbbar_3fs_pt15_rest_path.txt
condor_sps/mabarros.cc
condor_sps/rest.sh
condor_sps/seeds.dat
condor_sps/temp/
condor_sps/x509up_u128055
*crab.log*
*.SCRAM*
CMSSW_9_4_14_UL_patch1/src/HLT/Jpsi_9to30_Dstar_SPS_2017_13TeV_DR.root
CMSSW_9_4_14_UL_patch1/src/HLT/Jpsi_9to30_Dstar_SPS_2017_13TeV_HLT.root
CMSSW_9_4_14_UL_patch1/src/HLT/Jpsi_9to30_Dstar_SPS_2017_13TeV_HLT_cfg.py
CMSSW_10_6_20_patch1/src/AOD/paths/jpsi_bbbar_30to50_3FS_4FS_SPS_2017_13TeV.txt
CMSSW_10_6_20_patch1/src/GS/paths/jpsi_bbbar_30to50_3FS_4FS_SPS_2017_13TeV.txt
CMSSW_10_6_20_patch1/src/LHE/paths/jpsi_bbbar_30to50_3FS_4FS_SPS_2017_13TeV.txt
CMSSW_9_4_14_UL_patch1/src/HLT/paths/jpsi_bbbar_30to50_3FS_4FS_SPS_2017_13TeV.txt
